<<<<<<< HEAD
=======

>>>>>>> lol
body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
  }

#containerAll {
    height: 100%;
    margin: 0 auto 0 auto;
    width: 1050px;
    padding: 0;
    color: #555555;
} 

#link {
    align-items: center;
    display: flex;
    background: #EEEEEE;
    padding: 3px 0 3px 0;
 
}

#link a {
    margin: 0;
    color: #555555;
    text-decoration: none;
    font-family: "Scada", arial, sans-serif;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px 10px 5px;
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
}

#link a:hover{background: #FFF;}

#box1 {
    padding: 3px 0 3px 0;
    margin: 0;
    float: left;
}

#box2 {
    padding: 3px 0 3px 0;
    float: right;
    margin: 0 0 0 auto;
}


#photoIndigo {
    margin-top: 20px;
    float: left;
}

#photoIndigo :hover{opacity: 0.7;}
#telephone :hover{opacity: 0.7;}

#telephone {
    margin: 20px 0 0 0;
    float: right;
    text-decoration: none;
    font-family: 'Roboto Condensed', Arial narrow, Arial, sans-serif;
}

#telNomer {
    margin: 0 0 0 0;
    color: #9B20FF;
    font-size: 30px;
}

#telText {
    margin: 0 0 0 0;
    color: #9B20FF;
    font-size: 25px;
}


#linkMenu {
    margin: 20px 0 0 0;
    list-style-type: none;
    text-decoration: none;
    width: 1050px;
    font-family: "Scada", arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    background: #333;
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding-inline-start: 0;
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
}

#linkMenu li a {
    padding: 10px 10px 10px 10px;
    display: inline-flex;
    text-decoration: none;
    color: #fff;
    margin: 0 0 0 0;
    background: url(photo/navdiv.png) no-repeat right 50%;
    align-items: center;
}

#linkMenu li {
    margin: 0;
}

#linkMenu li a:hover{background: #9B20FF}


#breadcrumbs {
    max-width: 100%;
    display: flex;
    padding-right: 100px;
    margin: 10px;
    color:rgb(98, 98, 98);
}

#breadcrumbs a {
    color:rgb(64, 64, 64);
}

#breadcrumbs p {
    margin: 0;
}


#breadcrumbs a:hover{color: #9B20FF;}

#containerLeft {
    float: left;
<<<<<<< HEAD
    width: 75%;
=======
    width: 70%;
>>>>>>> lol
    clear: left;
}

#violetHrLeft {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #9B20FF;;
    width: 100%;
    height: 10px;
}


#photoText {
    width: 90%;
    cursor: pointer;
}

#photoText:hover{opacity: 0.9;}



#containerRight {
    float: right;
<<<<<<< HEAD
    width: 25%;
    height: 1600px;
=======
    width: 30%;
>>>>>>> lol
    clear: right;
}

#blackHrRight {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 10px;
<<<<<<< HEAD
    border-left: 1px solid #555;
    background: #555;
=======
    border-left: 1px solid #333;
    background: #333;
>>>>>>> lol
}

#SearchH1 {
    margin: 30px 0 15px 0;
    font-size: 17px;
}

#inputSearch {
    width: 97%;
    border: 1px solid #dcdcdc;
    padding: 10px;
    font-size: 10px;
    margin-bottom: 20px;
}

#inputSearch:focus {outline:0;}

#containerRightH1Book {
    margin: 30px 0 15px 0;
    font-size: 17px;
}

<<<<<<< HEAD
#containerRightTable {
    width: 100%;
}

#containerRightTable li {
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
    border-top: 1px solid #dcdcdc;
    width: 100%;
    height: auto;
    cursor: pointer;
    padding: 9px 20px 5px 20px;
    font-size: 13px;
    background: url(photo/rightarrow.png) 95% 48% no-repeat;
}

#containerRightTable ul {
    padding-inline-start: 0px;
}

#containerRightTable ul li {
    text-decoration: none;
    color: #777;
}

#containerRightTable a {
    text-decoration: none;
}

#containerRightTable li a :hover {opacity: 0.7;}

#containerRightTable a :hover {background: #ececec;}



footer {
    background: #292929;        
    display: flex;       
    width: 100%;     
    height: 100%;
    color: white;  
    padding-bottom: 100px;      
    clear: both;      
}

footer::-webkit-scrollbar {
    width: 0;
  }

#allColumnFooter {
    font-size: 12px;
    width: 100%;
    display: flex;
}

#footerColumnFirst {
    margin: 1% 50px 0 225px;
}

#footerColumnSecond {
    margin-top: 1%;
    width: 225px;
    margin-right: 100px;
}

#footerColumnThird {
    margin-top: 1%;
    width: 250px;
}

#menuFooterFirst {
    list-style-type: none;
    padding-inline-start: 0;
}

#menuFooterFirst li {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    width: 100%;
    border-top: 1px solid #333;
    padding: 10px;
    text-decoration: none;
    background-image: url(photo/rightarrow-dark.png) 95% 48% no-repeat;
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
    border-bottom: 1px dotted #444;
}


.footertText a {
    background: yellow;
    cursor: pointer;
}

=======
#listMenu {
    list-style: none;
    padding-inline-start: 0;
}

.listMenuNestedContainerRight {
    list-style: none;
    padding-inline-start: 20px;
}

#listMenuContainerRight li a {
    color: #777;
}

.li

/* #containerRightTable li, .containerRightMenu {
    width: 100%;
    color: #777;
    font-family: "Arial", arial, sans-serif;
    font-size: 13px;
    cursor: pointer;
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
    background: url(photo/rightarrow.png) 95% 48% no-repeat;
    list-style: none;
}

#containerRightTable li {
    width: 100%;
    border-top: 1px solid #dcdcdc;
    padding: 9px 0 5px 20px;
}   

.containerRightMenu {
    padding: 5px 0 5px 0;
    display: block;
}

#containerRightTable a {
    text-decoration: none;
}

.li-not-in-nested-list {
    padding: 5px 0 5px 0;
    width: 100%;
} */

#containerRightTable a :hover {opacity: 0.7; background: #ececec;}





footer {
    background: #292929;        
    display: flex;       
    width: 100%;     
    height: 100%;
    color: white;  
    padding-bottom: 100px;      
    clear: both;      
}

footer::-webkit-scrollbar {
    width: 0;
  }

#allColumnFooter {
    font-family: "Arial", arial, sans-serif;
    font-size: 13px;
    width: 100%;
    display: flex;
}

#footerColumnFirst {
    margin: 1% 50px 0 225px;
}

#footerColumnSecond {
    margin-top: 1%;
    width: 225px;
    margin-right: 100px;
}

#footerColumnThird {
    margin-top: 1%;
    width: 250px;
}

#menuFooterFirst {
    list-style-type: none;
    padding-inline-start: 0;
}

#menuFooterFirst li {
    font-family: "Arial", arial, sans-serif;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    width: 100%;
    border-top: 1px solid #333;
    padding: 10px;
    text-decoration: none;
    background: url(photo/rightarrow-dark.png) 95% 48% no-repeat;
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
    border-bottom: 1px dotted #444;
}


.footerText a {
    color: white;
    text-decoration: 0;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 5px;
}

>>>>>>> lol
#menuFooterFirst a :hover {background: rgb(0, 0, 0);} 
#menuFooterFirst a:hover {background: #500191;}

#footerContactPhoto {
    cursor: pointer;   
    border-top: 1px solid #dcdcdc;
} 

#footerContactPhoto a:hover {opacity: 0.7; background: #500191;}
<<<<<<< HEAD
=======


.footerText a:hover {color:#9B20FF;}       
            
               
>>>>>>> lol


.footerText a:hover {color:#9B20FF;}       
            
lol
               
