
body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
  }

#containerAll {
    height: 100%;
    margin: 0 auto ;
    width: 1050px;
    padding: 0;
    color: #555555;
} 

@media screen and (max-width: 771px){
    #containerAll {
        width: 70%;
    }
}

#link {
    align-items: center;
    display: flex;
    width: 100%;
    background: #EEEEEE;
    padding: 3px 0 3px 0;
 
}

#link a {
    margin: 0;
    color: #555555;
    text-decoration: none;
    font-family: "Scada", arial, sans-serif;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px 10px 5px;
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
}

#link a:hover{background: #FFF;}

#box1 {
    padding: 3px 0 3px 0;
    margin: 0;
    float: left;
}

#box2 {
    padding: 3px 0 3px 0;
    float: right;
    margin: 0 0 0 auto;
}

#box2Drop {
    display: none;
}

@media screen and (max-width: 771px){

    #box1 {
        width: 70%;
    }

    #box2 {
        display: none;
    }

    #box2Drop {
        display: none;
    }

    #link {
        max-width: 771px;
    }

    #dropLink {
        width: 30%;
    }
     #dropLink span {
        display: inline;
        position: relative;
        width: 25px;
        height: 25px;
        float: right;
        background: #f2f2f2 url(photo/rightarrow.png) 50% 50% no-repeat;
    }
    
}

#buttonDropLink:hover{animation: arrowDrop 1s ;}

@keyframes arrowDrop {

    100%{transform: rotate(-0.25turn)} 

}

#photoIndigo {
    margin-top: 20px;
    display: block;
    float: left;
}

#photoIndigo a {
    display: block;
}

#photoIndigo :hover{opacity: 0.7;}
#telephone :hover{opacity: 0.7;}

#photoIndigoAndTelephone {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 110px;
}

#telephone {
    margin: 20px 0 0 0;
    float: right;
    text-decoration: none;
    font-family: 'Roboto Condensed', Arial narrow, Arial, sans-serif;
}

#telNomer {
    float: right;
    margin: 0 0 0 0;
    color: #9B20FF;
    font-size: 30px;
}

#telText {
    width: 100%;
    margin: 0 0 0 0;
    color: #9B20FF;
    font-size: 25px;
}


#linkMenu {
    background: #333;
    list-style-type: none; 
    font-family: "Scada", arial, sans-serif;
    font-weight: bold;
    padding-inline-start: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
}

#linkMenu a {
    display: flex;
    font-size: 13px;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: #fff;
    background: url(photo/navdiv.png) no-repeat right 50%;
}

#linkMenu li {
    margin: 0;
}

#linkMenu li a:hover{background: #9B20FF}


#breadcrumbs {
    display: flex;
    margin: 10px;
    color:rgb(98, 98, 98);
}

#breadcrumbs a {
    padding-right: 4px;
    padding-left: 4px;
    color:rgb(64, 64, 64);
}

#breadcrumbs p {
    padding-left: 4px;
    margin: 0;
}

@media screen and (max-width: 771px) {
    #breadcrumbs {
        display: block;
    }
}
    
#breadcrumbs a:hover{color: #9B20FF;}

#containerLeft {
    float: left;
    width: 70%;
    clear: left;
}

#violetHrLeft {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #9B20FF;;
    width: 100%;
    height: 10px;
}


#photoText {
    width: 90%;
    cursor: pointer;
}

#photoText:hover{opacity: 0.9;}



#containerRight {
    float: right;
    width: 30%;
    clear: right;
    height: 100%;
}

@media screen and (max-width: 771px) {
    #containerRight {
        float: left;
        width: 70%;
        margin-bottom: 100px;
    }
}

#blackHrRight {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 10px;
    border-left: 1px solid #333;
    background: #333;
}

#SearchH1 {
    margin: 30px 0 15px 0;
    font-size: 17px;
}

#inputSearch {
    width: 97%;
    border: 1px solid #dcdcdc;
    padding: 10px;
    font-size: 10px;
    margin-bottom: 20px;
}

#inputSearch:focus {outline:0;}

#containerRightH1Book {
    margin: 30px 0 15px 0;
    font-size: 17px;
}

#listMenu {
    font-size: 12px;
    font-family: "Arial", Helvetica, sans-serif;
    width: 100%;
    list-style: none;
    padding-inline-start: 0;
    
}

.listMenuNested {
    list-style: none;
    padding-inline-start: 20px;
}

#listMenuContainerRight li {
    padding: 9px;
    border-top: 1px solid #dcdcdc;
}

.menuLinkNested {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 4px;;
}

#listMenuContainerRight a {
    text-decoration: none;
    color: #777;
}

#listMenu a :hover {opacity: 0.7; background: #ececec;}
.menuLinkNested:hover {opacity: 0.7; background: #ececec;}

#menuAdContainerRight {
    width: 100%;
    margin-top: 60px;
    display: flex;
}

#menuAdContainerRight :nth-child(1) {
    background: #9B20FF;
}

#menuAdContainerRight a {
    background: #333;
    font-size: 11px;
    font-family: "Arial", arial, sans-serif;
    color: white;
    padding: 10px;
    border-right: 1px solid #FFF;
    text-decoration: none;
}

#menuAdContainerRight a:hover {background: #9B20FF;}


#listPhotoContainerRightBottom {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.photoAd {
    display: block;
    margin-top: 30px;
}

.photoAd img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    display: block;
}

.photoAd p {
    color: #555;
    line-height: 100%;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
    text-decoration: none;
}

.photoAd a {
    font-size: 12px;
    line-height: 100%;
    font-weight: 700;
    text-decoration: none;
    color: #555;
}

.photoAd span {
    padding: 3px;
    color: white;
    bottom: 0px;
    width: 20px;
    background: #B6B6B6;
    height: 20px;
    font-size: 11px;
}

#views {
    bottom: 0;
    line-height: 100%;
}

.photoAd a :hover{opacity: 0.2;}
.photoAd p :hover{color: #9B20FF;}

#cross {
    position: absolute;
    width: 5px;
    height: 5px;
    padding-top: 5px;
    padding-left: 5px;
    background: red;
}

footer {
    background: #292929;        
    display: flex;       
    width: 100%;     
    height: 100%;
    color: white;  
    padding-right: 100%;
    padding-bottom: 100px;      
    clear: both;      
}

footer::-webkit-scrollbar {
    width: 0;
  }

#allColumnFooter {
    font-family: "Arial", arial, sans-serif;
    font-size: 13px;
    width: 100%;
    display: flex;
}

#footerColumnFirst {
    margin: 1% 50px 0 225px;
}

#footerColumnSecond {
    margin-top: 1%;
    width: 225px;
    margin-right: 100px;
}

#footerColumnThird {
    margin-top: 1%;
    width: 250px;
}

#menuFooterFirst {
    list-style-type: none;
    padding-inline-start: 0;
}

#menuFooterFirst li {
    font-family: "Arial", arial, sans-serif;
    display: inline-block;
    font-size: 15px;
    color: #fff;
    width: 100%;
    border-top: 1px solid #333;
    padding: 10px;
    text-decoration: none;
    background: url(photo/rightarrow-dark.png) 95% 48% no-repeat;
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
    border-bottom: 1px dotted #444;
}


.footerText a {
    color: white;
    text-decoration: 0;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 5px;
}

#menuFooterFirst a :hover {background: rgb(0, 0, 0);} 
#menuFooterFirst a:hover {background: #500191;}

#footerContactPhoto {
    cursor: pointer;   
    border-top: 1px solid #dcdcdc;
} 

#footerContactPhoto a:hover {opacity: 0.7; background: #500191;}


.footerText a:hover {color:#9B20FF;}       
            
               











