
body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0;
  }

#containerAll {
    height: 100%;
    width: 1050px;
    padding: 0;
    color: #555;
} 

@media screen and (max-width: 1085px) {
    #containerAll {
        width: 791px;   
    }
} 

@media screen and (max-width: 855px) {
    #containerAll {
        width: 661px;
    }
}

@media screen and (max-width: 771px){
    #containerAll {
        width: 539px;
    }
}

@media screen and (max-width: 607px) {
    #containerAll {
        width: 420px;
    }
}

@media screen and (max-width: 583px) {
    #containerAll {
        width: 430px;
    }
} 

@media screen and (max-width: 500px) {
    #containerAll {
        width: 407px;
    }
} 

@media screen and (max-width: 405px) {
    #containerAll {
        width: 300px;
    }
}  

#topBar {
    align-items: center;
    display: flex;
    width: 100%;
    background: #EEEEEE;
    padding: 3px 0 3px 0;
 
}

#topBar a {
    margin: 0;
    color: #555;
    text-decoration: none;
    font-family: "Scada", arial, sans-serif;
    font-weight: 400;
    font-size: 10px;
    padding: 10px 5px 10px 5px;
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
}

#topBar a:hover{background: #FFF;}

#box1 {
    padding: 3px 0 3px 0;
    margin: 0;
    float: left;
}

#box2 {
    padding: 3px 0 3px 0;
    float: right;
    margin: 0 0 0 auto;
}

#box2Drop {
    display: none;
}

@media screen and (max-width: 771px){

    #box1 {
        width: 70%;
    }

    #box2 {
        display: none;
    }

    #box2Drop {
        display: none;
    }

    #topBar {
        max-width: 771px;
    }

    #dropTopBar {
        width: 30px;
        float: right;
        height: 30px;
        margin-left: 50%;
    }

    #dropTopBar span {
        display: inline-block;
        position: relative;
        width: 25px;
        height: 25px;
        background: #f2f2f2 url(photo/downarrow-dark.png) 50% 63% no-repeat;
    }
}

#box2Drop a:focus{opacity: 0.7; background: #9B20FF;}

#topBar a:hover{background: #fff;}





#photoIndigo {
    margin-top: 20px;
    display: block;
    float: left;
}

#photoIndigo a {
    display: block;
}

#photoIndigo :hover{opacity: 0.7;}
#telephone :hover{opacity: 0.7;}

#photoIndigoAndTelephone {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 110px;
}

#telephone {
    margin: 20px 0 0 0;
    float: right;
    text-decoration: none;
    font-family: 'Roboto Condensed', Arial narrow, Arial, sans-serif;
}

#telNomer {
    margin: 0 0 0 0;
    color: #9B20FF;
    font-size: 30px;
    float: right;
}

#telText {
    color: #9B20FF;
    font-size: 25px;
}

@media screen and (max-width: 771px) {
    #telNomer {
        font-size: 27px;
    }

    #telText {
        font-size: 15px;
        
    }
}
    

#linkMenu {
    background: #333;
    list-style-type: none; 
    font-family: "Scada", arial, sans-serif;
    font-weight: bold;
    padding-inline-start: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
}

#linkMenu a {
    display: flex;
    font-size: 13px;
    flex-wrap: wrap;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: #fff;
    background: url(photo/navdiv.png) no-repeat right 50%;
}

#linkMenu li {
    margin: 0;
}

#linkMenu li a:hover{background: #9B20FF}

#linkMenuDrop {
    display: none;
}

@media screen and (max-width: 653px) {
    
    #linkMenu {
        display: none;
    }

    #linkMenuDrop {
        background: #333;
        display: block;
        height: auto;
        padding: 10px;
        background: #333 url(photo/downarrow.png) 95% 50% no-repeat;
        font-family: "Arial", Helvetica, sans-serif;
        font-size: 12px;
    }

    #startDropMenuLink {
        color: white;
        text-decoration: none;
        align-items: center;
    }

    #linkMenuDropLi {
        list-style-type: none;
        display: none;
    }

    #linkMenuDropLi a {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }
}

@media screen and (max-width: 405px) {
    #linkMenuDrop {
        margin-top: 180px;
    }
}

@keyframes arrowDrop {

    100%{ transform: rotate(-0.25turn) }

}

@keyframes arrowDropClose {

    100%{ transform: rotate(-0.5turn) }

}

#breadcrumbs {
    display: flex;
    margin: 10px;
    color:rgb(98, 98, 98);
}

#breadcrumbs a {
    padding-right: 4px;
    padding-left: 4px;
    color:rgb(64, 64, 64);
}

#breadcrumbs p {
    padding-left: 4px;
    margin: 0;
}

@media screen and (max-width: 1084px) {
    #breadcrumbs {
        display: block;
    }
}

@media screen and (max-width: 771px) {
    #breadcrumbs {
        margin-top: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        padding: 0;
        margin: 25px 0 0 0;
    }

    #breadcrumbs a {
        padding: 0
    }

    #breadcrumbs p {
        padding: 10px 0 0 0;
    }
}


    
#breadcrumbs a:hover{color: #9B20FF;}

#containerLeft {
    float: left;
    width: 70%;
    clear: left;
}

@media screen and (max-width: 771px) {
    #containerLeft {
        width: 100%;
    }
    
}

#violetHrLeft {
    margin-top: 30px;
    margin-bottom: 30px;
    background: #9B20FF;;
    width: 100%;
    height: 10px;
}


#photoText {
    width: 90%;
    cursor: pointer;
}

#photoText:hover{opacity: 0.9;}



#containerRight {
    float: right;
    width: 30%;
    clear: right;
    height: 100%;
}

@media screen and (max-width: 771px) {
    #containerRight {
        float: left;
        width: 100%;
        margin-bottom: 100px;
    }
}

#blackHrRight {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    height: 10px;
    border-left: 1px solid #333;
    background: #333;
}

#SearchH1 {
    margin: 30px 0 15px 0;
    font-size: 17px;
}

#inputSearch {
    width: 97%;
    border: 1px solid #dcdcdc;
    padding: 10px;
    font-size: 10px;
    margin-bottom: 20px;
}

#inputSearch:focus {outline:0;}

#containerRightH1Book {
    margin: 30px 0 15px 0;
    font-size: 17px;
}

#listMenu {
    font-size: 12px;
    font-family: "Arial", Helvetica, sans-serif;
    width: 100%;
    list-style: none;
    padding-inline-start: 0;
    
}

.listMenuNested {
    list-style: none;
    padding-inline-start: 20px;
}

#listMenuContainerRight li {
    padding: 9px;
    border-top: 1px solid #dcdcdc;
}

.menuLinkNested {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 4px;;
}

#listMenuContainerRight a {
    text-decoration: none;
    color: #777;
}

#listMenu a :hover {opacity: 0.7; background: #ececec;}
.menuLinkNested:hover {opacity: 0.7; background: #ececec;}

#menuAdContainerRight {
    width: 100%;
    margin-top: 60px;
    display: flex;
}

#menuAdContainerRight :nth-child(1) {
    background: #9B20FF;
}

#menuAdContainerRight a {
    background: #333;
    font-size: 11px;
    font-family: "Arial", arial, sans-serif;
    color: white;
    padding: 10px;
    border-right: 1px solid #FFF;
    text-decoration: none;
}

#menuAdContainerRight a:hover {background: #9B20FF;}


#listPhotoContainerRightBottom {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.photoAd {
    display: block;
    margin-top: 30px;
}

.photoAd img {
    width: 50px;
    height: 50px;
    padding-bottom: 5px;
    float: left;
    margin-right: 10px;
    display: block;
}

.photoAd p {
    color: #555;
    line-height: 100%;
    font-weight: 600;
    margin: 0;
    margin-bottom: 5px;
    text-decoration: none;
}

.photoAd a {
    font-size: 12px;
    line-height: 100%;
    font-weight: 700;
    text-decoration: none;
    color: #555;
}

.photoAd span {
    padding: 3px;
    color: white;
    bottom: 0px;
    width: 20px;
    background: #B6B6B6;
    height: 20px;
    font-size: 11px;
}

#views {
    bottom: 0;
    line-height: 100%;
}

.photoAd a :hover{opacity: 0.2;}
.photoAd p :hover{color: #9B20FF;}

footer {
    padding-top: 50px;
    padding-bottom: 100px;
    position: relative;
    clear: both;
    margin-bottom: 0;
    background: #292929;
    color: #dcdcdc;
    overflow-x: hidden;     
}       

@media screen and (max-width: 771px) {
    #allColumnFooter {
        display: block;
        margin: 0 auto;
        width: 100%;
        margin-left: 130px;
    }
}

footer::-webkit-scrollbar {
    width: 0;
  }

#allColumnFooter {
    font-family: "Arial", arial, sans-serif;
    font-size: 13px;
    display: flex;
}
   
@media screen and (max-width: 771px) {
    #allColumnFooter {
        display: block;
        margin: 0 auto;
        width: 100%;
        margin-left: 130px;

    }
}

#footerColumnFirst {
    margin: 1% 120px 0 225px;
    width: 150%;
}

@media screen and (min-width: 772px) and (max-width: 1245px) {
    #footerColumnFirst {
        margin: 1% 120px 0 70px ;
    }
}

@media screen and (max-width: 771px) {
    #footerColumnFirst {
        width: 100%;
        margin: 1% 50px 0 0;
        width: 50%;
    }
}

#menuFooterFirst {
    width: 100%;
    list-style-type: none;
    padding-inline-start: 0;
}

#menuFooterFirst li {
    font-family: "Arial", arial, sans-serif;
    font-size: 15px;
    display: inline-block;
    color: #fff;
    width: 100%;
    border-top: 1px solid #333;
    border-bottom: 1px dotted #444;
    padding: 10px;
    text-decoration: none;
    background: url(photo/rightarrow-dark.png) 95% 48% no-repeat;
    -webkit-transition: height .25s,line-height .25s, background .25s,visibility .25s;
    transition: all .3s ease 0s;
}

#menuFooterFirst a :hover {background: rgb(0, 0, 0);} 
#menuFooterFirst a:hover {background: hsl(281, 93%, 32%);}

#footerContactPhoto {
    cursor: pointer;   
    border-top: 1px solid #dcdcdc;
} 

#footerContactPhoto a:hover {opacity: 0.7; background: #500191;}


#footerColumnSecond {
    margin-top: 1%;
    width: 100%;
}

#footerColumnThird {
    margin: 1% 50px 0 100px;
    width: 100%;
}

@media screen and (max-width: 771px){
    #footerColumnThird {
        margin: 1% 50px 0 0;
    }
}
         
.footerText a {
    color: white;
    text-decoration: 0;
    display: inline-block;
    cursor: pointer;
    padding-bottom: 5px;
}   

.footerText a:hover {color:#9B20FF;} 










